.app {
  margin: 0 auto;
  max-width: 800px;
}

.button {
  background-color: blue;
  border-radius: 10px;
}

.button:hover {
  opacity: 80%;
}

.toggle-char {
  margin-bottom: 15px;
  margin-left: 15px;
}